body.contact {
  #landing {
    margin-bottom: 100px;
    @media screen and (max-width: $mobile-breakpoint) {
      margin-bottom: 50px;
    }
    nav {
      ul {
        &.btn-wrapper {
          li {
            a {
              border: 1px solid $color-teal;
            }
          }
        }
      }
    }

    header {
      width: 100%;
      text-align: center;
      margin-bottom: 7em;
      @media screen and (max-width: $tablet-breakpoint) {
        margin-bottom: 5em;
      }
      ul.toggle {
        margin-top: 2em;
      }
    }

    .container {
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .minor {
        max-width: 45%;
        @media screen and (max-width: $tablet-breakpoint) {
          max-width: 35%;
        }
        @media screen and (max-width: $mobile-breakpoint) {
          max-width: 100%;
          text-align: center;
          margin-bottom: 2em;
        }
        h1 {
          margin: 0.5em 0 10px;
        }
        .row {
          position: relative;
          h4 {
            opacity: 0;
            @media screen and (max-width: $mobile-breakpoint) {
              width: 100%;
              text-align: center;
              max-width: 100%;
            }

            &.therapists,
            &.individuals {
              position: absolute;
              left: 0;
            }
          }
        }
      }
      .major {
        max-width: 45%;
        position: relative;

        @media screen and (max-width: $tablet-breakpoint) {
          max-width: 55%;
        }
        @media screen and (max-width: $mobile-breakpoint) {
          max-width: 100%;
        }

        & > div {
          opacity: 0;

          &.major__therapists,
          &.major__individuals {
            position: absolute;
            pointer-events: none;
            top: 0;
          }
        }
        .intro {
          margin-bottom: 10px;
        }
        .form-wrapper {
          margin-top: 3em;
          @media screen and (max-width: $tablet-breakpoint) {
            margin-top: 2em;
          }
          input {
            margin-bottom: 1.5em;
          }
        }

        aside {
          margin-top: 5em;
          width: 100%;
          background: $color-light-teal;
          padding: 40px;
          text-align: center;
          border-radius: 5px;
          @media screen and (max-width: $tablet-breakpoint) {
            padding: 30px;
          }

          a {
            display: block;
            margin-top: 10px;
          }
        }
      }
    }
  }

  footer {
    @media screen and (max-width: $mobile-breakpoint) {
      padding-top: 0;
    }
    .top {
      background: $color-light-teal;
      .container {
        aside {
          border-top: none;
          margin-top: 0;
        }
      }
    }
  }

  &.init__employers {
    #landing {
      .container {
        .minor {
          .row {
            h4.employers {
              opacity: 1;
            }
          }
        }
        .major {
          .major__employers {
            opacity: 1;
          }
        }
      }
    }
  }

  &.init__therapists {
    #landing {
      .container {
        .minor {
          .row {
            h4.therapists {
              opacity: 1;
            }
          }
        }
        .major {
          .major__therapists {
            opacity: 1;
            pointer-events: initial;
          }
        }
      }
    }
  }

  &.init__individuals {
    #landing {
      .container {
        .minor {
          .row {
            h4.individuals {
              opacity: 1;
              pointer-events: initial;
            }
          }
        }
        .major {
          .major__individuals {
            opacity: 1;
            pointer-events: initial;
          }
        }
      }
    }
  }
}

body.single-form {
  #landing .container .major > div.major__therapists {
    position: relative;
  }
}
