footer {
  //   background: $color-teal;
  padding: 120px 0 0;
  font-weight: 400;

  .top {
    .container {
      flex-wrap: wrap;
      align-items: center;
      header {
        width: 50%;
        display: flex;
        align-items: flex-end;

        @media screen and (max-width: $tablet-breakpoint) {
          width: 30%;
          flex-wrap: wrap;
        }

        @media screen and (max-width: $mobile-breakpoint) {
          width: 100%;
        }

        .img-wrapper {
          max-width: 300px;
          @media screen and (max-width: $mobile-breakpoint) {
            margin: 0 auto;
          }
        }

        .col {
          margin: 0 0 3em 3vw;
          max-width: 380px;

          @media screen and (max-width: $tablet-breakpoint) {
            margin: 1em auto 0;
            text-align: center;
          }
          h2 {
            margin-bottom: 10px;
          }
        }
      }

      .form-wrapper {
        width: 45%;
        margin: 0 0 0 auto;
        @media screen and (max-width: $tablet-breakpoint) {
          width: 50%;
        }

        @media screen and (max-width: $mobile-breakpoint) {
          width: 100%;
          margin: 2em 0 0;
        }
        form {
          width: 100%;
          .checkboxes {
            margin: 1.5em 0 2.5em;
            display: flex;
            align-items: center;

            @media screen and (max-width: $mobile-breakpoint) {
              align-items: flex-start;
              flex-direction: column;
              margin-top: 2em;
            }
          }
        }
      }

      aside {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 80px;
        padding: 70px 0;
        border-top: 1px solid rgba(0, 26, 58, 0.1);

        @media screen and (max-width: $mobile-breakpoint) {
          flex-direction: column;
          margin-top: 50px;
          padding: 50px 0;
        }

        p {
          opacity: 0.5;
        }

        .legal {
          max-width: 750px;
          margin-right: auto;
          @media screen and (max-width: $laptop-breakpoint) {
            margin-bottom: 2em;
          }
        }

        .col {
          margin: 0 30px;
          @media screen and (max-width: $laptop-breakpoint) {
            margin: 0 20px;
          }
          @media screen and (max-width: $mobile-breakpoint) {
            margin: 1em 0;
          }

          &.media {
            margin-right: 0;
            a {
              display: flex;

              &:hover {
                img {
                  &.hover {
                    opacity: 1;
                  }
                }
              }
              img {
                width: 25px;
                height: 25px;
                margin-right: 10px;
                transition: all 0.3s;
                &.hover {
                  position: absolute;
                  opacity: 0;
                }
              }
            }
          }

          p {
            margin-bottom: 15px;
            white-space: nowrap;
          }
          li {
            margin: 5px 0;
            a {
              color: $color-body;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  .bottom {
    width: 100%;
    background: $color-teal;
    padding: 40px 0;

    .container {
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: $mobile-breakpoint) {
        flex-direction: column;
      }

      p {
        color: #fff;

        @media screen and (max-width: $mobile-breakpoint) {
          max-width: 250px;
          text-align: center;
        }
      }

      .links {
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: $mobile-breakpoint) {
          order: -1;
          margin-bottom: 15px;
          flex-direction: column;
          align-items: center;
        }
        a {
          color: #fff;
          white-space: nowrap;
          margin-right: 25px;
          @media screen and (max-width: $mobile-breakpoint) {
            margin: 0;
            padding: 0.5em 0;
          }

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
}
