body {
  &.active-cursor {
    cursor: none !important;
    .cursor {
      opacity: 1;
    }
  }
  .cursor {
    height: 55px;
    width: 55px;
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    z-index: 99;
    pointer-events: none;
    transition: opacity 0.3s;
    background: $color-teal url("/assets/arrow-white.svg") no-repeat;
    background-position: 50% 50%;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  overflow-x: auto;
  @media screen and (max-width: $tablet-breakpoint) {
    font-size: 16px;
  }
  ul {
    display: flex;
    align-items: center;

    li {
      margin: 0 2vw;
      cursor: pointer;
      padding: 1em 0;
      height: 100%;
      display: flex;
      align-items: center;
      white-space: nowrap;
      @media screen and (max-width: $mobile-breakpoint) {
        margin: 0 12px;
      }
      &.logo {
        max-width: 180px;
        min-width: 150px;
        @media screen and (max-width: $tablet-breakpoint) {
          max-width: 150px;
        }
      }
    }

    &.btn-wrapper {
      margin-right: 2em;
      li {
        margin: 0 10px;
        &.active {
          &:before {
            display: none;
          }
        }
      }
    }
  }

  &.sub-nav {
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: 9;
    box-shadow: 0 4px 2px -2px rgba(129, 133, 139, 0.3);
    &.active {
      transform: translateY(0);
    }

    ul {
      li {
        position: relative;
        transition: all 0.3s;

        &.active {
          color: $color-teal;
          &:before {
            content: "";
            position: absolute;
            height: 8px;
            bottom: 0;
            width: 100%;
            background: $color-teal;
            transition: all 0.3s;
          }

          &.logo {
            &:before {
              display: none;
            }
          }
        }

        &:hover {
          color: $color-teal;
        }
      }

      &.btn-wrapper {
        li {
          a {
            border: 1px solid $color-teal;
          }
        }
      }
    }
  }
}

#banner {
  background: $color-light-teal;

  .container {
    justify-content: space-around;
    align-items: center;
    padding: 2em 2em 70px;
    @media screen and (max-width: $tablet-breakpoint) {
      padding: 50px 2em;
    }
    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
      padding: 10px 2em 50px;
    }
    .major {
      max-width: 38vw;
      @media screen and (max-width: $mobile-breakpoint) {
        order: 1;
        max-width: 100%;
        margin-top: 3em;
      }
      aside {
        display: flex;
        align-items: center;
        margin-top: 6vw;
        @media screen and (max-width: $mobile-breakpoint) {
          flex-direction: column;
        }
        a {
          margin-right: 4vw;
          @media screen and (max-width: $mobile-breakpoint) {
            margin: 0 0 1.5em;
          }
        }
      }
    }

    .minor {
      position: relative;
      padding: 2vw 0 0;
      max-width: 26vw;
      @media screen and (max-width: $mobile-breakpoint) {
        max-width: 60vw;
      }
      aside {
        position: absolute;
        max-width: 16vw;
        @media screen and (max-width: $mobile-breakpoint) {
          max-width: 47vw;
        }
        &.b1 {
          top: -35px;
          left: 0;
          transform: translateX(-50%);
          @media screen and (max-width: $mobile-breakpoint) {
            top: 16px;
            transform: translateX(-40%);
          }
        }

        &.b2 {
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          height: 8.5vw;
          transform: translateX(50%);
          @media screen and (max-width: $mobile-breakpoint) {
            height: 26.5vw;
            transform: translateX(40%);
          }
        }

        &.b3 {
          left: 5px;
          bottom: -3vw;
          margin: auto;
          @media screen and (max-width: $mobile-breakpoint) {
            left: 20px;
            bottom: -8vw;
          }
        }
      }
      p {
        margin-left: 16vw;
        margin-top: 2vw;
        padding-right: 20px;
        font-size: 16px;
        white-space: nowrap;

        @media screen and (max-width: $mobile-breakpoint) {
          display: none;
        }

        &:before {
          content: url(/assets/caret-down.svg);
          transform: rotate(90deg);
          display: inline-block;
          margin-right: 5px;
          @media screen and (max-width: $mobile-breakpoint) {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

#products {
  padding: 100px 0;

  h2 {
    margin-bottom: 1em;
  }
  .container {
    justify-content: space-around;
    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
      align-items: center;
    }
    .col {
      width: 37%;
      text-align: center;
      @media screen and (max-width: $mobile-breakpoint) {
        width: 100%;
        max-width: 400px;
        &:first-of-type {
          margin-bottom: 5em;
        }
      }
      .img-wrapper {
        height: 465px;
        @media screen and (max-width: $mobile-breakpoint) {
          height: unset;
        }
        img {
          height: 100%;
          @media screen and (max-width: $mobile-breakpoint) {
            height: unset;
          }
        }
      }
      .content {
        margin: 2em 0;
      }
    }
  }
}

#platform {
  margin: 100px 0 0;

  .container {
    flex-direction: column;
    align-items: center;

    .video-wrapper {
      margin-top: 20px;
      max-width: 1100px;
      video {
        width: 100%;
      }
    }
  }

  .slider {
    background: $color-light-teal;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100px;
      top: -100px;
      left: 0;
      background: $color-light-teal;
      z-index: -1;
    }

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 4em;
      h3 {
        span {
          color: $color-teal;
        }
      }
    }

    .slides {
      margin-left: -10vw;

      .slick-list {
        padding-bottom: 250px !important;
        @media screen and (max-width: $mobile-breakpoint) {
          padding-bottom: 150px !important;
        }
        .slick-track {
          display: flex;
        }
      }

      .slide {
        max-width: 57vw;
        width: 100%;
        margin: 0 10vw 0 0;
        @media screen and (max-width: $mobile-breakpoint) {
          max-width: 77vw;
        }

        .row {
          align-items: center;

          &.img {
            justify-content: space-between;
          }
          &.content {
            margin: 2.5em 0 0 auto;
            max-width: 52vw;

            @media screen and (max-width: $tablet-breakpoint) {
              flex-wrap: wrap;
            }

            @media screen and (max-width: $mobile-breakpoint) {
              max-width: 70vw;
              text-align: center;
              justify-content: center;
            }

            .icon {
              min-width: 70px;

              @media screen and (max-width: $tablet-breakpoint) {
                min-width: 50px;
                width: 50px;
              }

              @media screen and (max-width: $mobile-breakpoint) {
                min-width: 40px;
                width: 40px;
              }
            }
            h3 {
              margin: 0 1em 0 0.5em;
            }
            h5 {
              // max-width: 760px;
              color: $color-navy;

              @media screen and (max-width: $tablet-breakpoint) {
                margin-top: 0.5em;
              }
            }
          }

          .img-wrapper {
            width: 52vw;
            @media screen and (max-width: $mobile-breakpoint) {
              width: 65vw;
            }
          }
        }
      }
    }
  }
}

#numbers {
  background: $color-navy;
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 200px;
  @media screen and (max-width: 900px) {
    flex-direction: column;
    margin-bottom: 100px;
  }
  h2,
  h3 {
    color: #fff;
    @media screen and (max-width: 900px) {
      margin: 5px 0;
    }
  }

  .minor {
    margin: 0 auto;
    padding: 50px 30px;
    .content {
      max-width: 500px;
      position: relative;
      margin-top: 3vw;

      .row {
        position: relative;
        align-items: center;
        margin: 2em 0;
        padding-left: 90px;
        @media screen and (max-width: 900px) {
          flex-wrap: wrap;
          padding-left: 0;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
        .icon {
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          border-radius: 50%;
          left: 0;
          @media screen and (max-width: 900px) {
            position: static;
            top: 10px;
            width: 55px;
            height: 55px;
            margin-right: 11px;
            margin-top: 13px;
          }
        }

        .col {
          margin: 0 30px 0 0;

          @media screen and (max-width: 900px) {
            margin: 0;
            h2 {
              height: 50px;
            }
            &:last-of-type {
              margin-top: 10px;
            }
          }
          p {
            font-weight: 400;
            @media screen and (max-width: 900px) {
              margin: 0;
            }
            span.blue-text {
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  .major {
    padding-left: 16vw;
    position: relative;
    max-width: 54vw;
    height: 100%;
    margin-bottom: auto;
    @media screen and (max-width: $laptop-breakpoint) {
      padding-left: 14vw;
      max-width: 48vw;
    }
    @media screen and (max-width: 900px) {
      order: -1;
      max-width: 100%;
      padding: 0;
    }
    .img-wrapper {
      margin-bottom: -10%;
      margin-right: -10px;
      min-height: 620px;
      @media screen and (max-width: 900px) {
        min-height: unset;
        height: 335px;
        display: flex;
      }
      img {
        min-height: 620px;
        object-fit: cover;
        @media screen and (max-width: 900px) {
          min-height: unset;
          object-position: 100% 65%;
        }
      }
    }
    aside {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      @media screen and (max-width: 900px) {
        position: relative;
        flex-direction: row;
      }
      figure {
        max-width: 18vw;
        margin: 2em 0;
        @media screen and (max-width: 900px) {
          margin: 0 30px;
          max-width: 100%;
          &:last-of-type {
            margin-left: 0;
          }
        }
      }
    }
  }
}

#how-it-works {
  margin: 100px 0;
  header {
    width: 100%;
    text-align: center;
    margin-bottom: 7em;

    ul {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin: 4em auto 0;
      width: 100%;
      max-width: 450px;
      padding: 0 20px;

      @media screen and (max-width: $mobile-breakpoint) {
        max-width: 400px;
      }

      li {
        cursor: pointer;
        opacity: 0.2;
        transition: all 0.3s;

        &.has-underline {
          position: absolute;
          width: 130px;
          height: 32px;
          left: 20px;
          opacity: 1;
          pointer-events: none;
        }

        &.active {
          opacity: 1;
        }
      }
    }
  }
  .container {
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }
    .minor {
      max-width: 40%;
      @media screen and (max-width: $mobile-breakpoint) {
        max-width: 100%;
        margin-bottom: 4em;
      }
      .img-wrapper {
        position: relative;
        height: 100%;
        .screen {
          width: 0%;
          position: absolute;
          right: 0;
          height: 100%;
          background: $color-navy;
          z-index: 2;
        }
        img {
          height: 100%;
          object-fit: cover;
          @media screen and (max-width: $mobile-breakpoint) {
            height: unset;
          }

          &.img__therapists {
            opacity: 0;
            position: absolute;
            width: 100%;
            left: 0;
          }
        }
        aside {
          background: $color-teal;
          position: absolute;
          bottom: 65px;
          right: -100px;
          max-width: 490px;
          z-index: 3;
          @media screen and (max-width: $tablet-breakpoint) {
            right: -85px;
            max-width: 410px;
          }
          @media screen and (max-width: $mobile-breakpoint) {
            position: relative;
            bottom: unset;
            right: unset;
          }

          & > div {
            padding: 40px;
            @media screen and (max-width: $tablet-breakpoint) {
              padding: 30px;
            }
          }
          h4 {
            margin-bottom: 1em;
          }

          .aside__therapists {
            position: absolute;
            opacity: 0;
            left: 0;
            top: 0;
          }
        }
      }
    }

    .major {
      max-width: 40%;
      position: relative;
      @media screen and (max-width: $tablet-breakpoint) {
        max-width: 45%;
      }
      @media screen and (max-width: $mobile-breakpoint) {
        max-width: 100%;
      }

      .major__therapists {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;

        @media screen and (max-width: $mobile-breakpoint) {
          bottom: unset;
        }
      }

      .row {
        margin: 1em 0;
        &:first-of-type {
          margin-top: 0;
        }
        @media screen and (max-width: $laptop-breakpoint) {
          margin: 1em 0;
        }
        &.header {
          align-items: center;

          .icon {
            width: 60px;
            margin-top: 0;
          }

          h3 {
            max-width: 400px;
          }
        }

        .icon {
          margin-right: 20px;
          min-width: 20px;
          margin-top: 10px;
        }
      }
      .line {
        width: 100%;
        height: 2px;
        background: $color-navy;
        margin: 3em 0;
      }
    }

    .steps {
      width: 100%;
      background: $color-light-teal;
      margin-top: 8em;
      padding-bottom: 4em;
      header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4em 0;
        .icon {
          max-width: 70px;
          margin-right: 15px;
        }
      }

      .row {
        justify-content: space-between;
        @media screen and (max-width: $mobile-breakpoint) {
          flex-direction: column;
        }
        .col {
          align-items: center;
          margin: 0 20px;
          text-align: center;
          @media screen and (max-width: $mobile-breakpoint) {
            margin: 0 20px 5em;
            &:last-of-type {
              margin-bottom: 0;
            }
          }
          .inner {
            display: flex;
            align-items: center;
            margin-bottom: 1em;
            .icon {
              max-width: 125px;
            }
            .arrow {
              margin: 0 20px;
              @media screen and (max-width: $mobile-breakpoint) {
                margin: 0 10px;
              }
            }
          }
        }
      }
    }
  }
}

#testimonials {
  height: 50vw;
  min-height: 700px;
  position: relative;
  @media screen and (max-width: $mobile-breakpoint) {
    min-height: 850px;
  }
  header {
    width: 75%;
    padding-top: 10vw;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    transform: translateX(150px);
    @media screen and (max-width: $laptop-breakpoint) {
      padding-top: 5vw;
      transform: translateX(100px);
    }
    @media screen and (max-width: $tablet-breakpoint) {
      transform: translateX(70px);
    }

    @media screen and (max-width: $mobile-breakpoint) {
      transform: translateX(0);
      padding-left: 20px;
      padding-right: 20px;
    }

    .wrap {
      max-width: 600px;
      width: 100%;

      @media screen and (max-width: $laptop-breakpoint) {
        max-width: 500px;
      }
      @media screen and (max-width: $tablet-breakpoint) {
        max-width: 450px;
      }

      h2 {
        color: #fff;
      }
      .icon {
        width: 80px;
      }
    }
  }
  .slider {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    .slide {
      position: absolute;
      display: flex;
      color: #fff;
      width: 25%;
      height: 100%;
      right: 0;
      top: 0;
      padding-top: calc(10vw + 220px);

      @media screen and (max-width: $laptop-breakpoint) {
        padding-top: calc(5vw + 220px);
      }

      @media screen and (max-width: $mobile-breakpoint) {
        flex-direction: column;
        width: 0;
        overflow: hidden;
        padding-top: calc(5vw + 300px);
      }
      &.active {
        width: 75%;
        left: 0;
        @media screen and (max-width: $mobile-breakpoint) {
          width: 100%;
        }
        .col {
          &:first-of-type {
            left: calc(37.2vw - 450px);
            @media screen and (max-width: $laptop-breakpoint) {
              left: calc(37.2vw - 380px);
            }
            @media screen and (max-width: $tablet-breakpoint) {
              left: calc(37.2vw - 360px);
            }
          }
          &.content {
            opacity: 1;
            transform: translate(150px, 0);
            @media screen and (max-width: $laptop-breakpoint) {
              transform: translate(100px, 0);
            }
            @media screen and (max-width: $tablet-breakpoint) {
              transform: translate(70px, 0);
            }
            @media screen and (max-width: $mobile-breakpoint) {
              transform: translate(0, 0);
            }
          }
        }
      }

      &.next-slide {
        z-index: 1;
      }
      &.one {
        background: $color-navy;
      }
      &.two {
        background: $color-teal;
      }
      &.three {
        background: $color-grey;
      }

      .col {
        align-items: center;

        @media screen and (max-width: $mobile-breakpoint) {
          padding-left: 30px;
          padding-right: 30px;
        }

        h4 {
          color: #fff;
        }
        &:first-of-type {
          display: flex;
          align-items: center;
          flex-direction: column;
          position: absolute;
          left: calc(50% - 120px);
          @media screen and (max-width: $laptop-breakpoint) {
            left: calc(50% - 90px);
          }
          @media screen and (max-width: $tablet-breakpoint) {
            left: calc(50% - 75px);
          }

          @media screen and (max-width: $mobile-breakpoint) {
            position: static;
            align-items: flex-start;
            margin: 0 0 2em;
          }
          .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 240px;
            margin-bottom: 10px;
            @media screen and (max-width: $laptop-breakpoint) {
              width: 180px;
            }
            @media screen and (max-width: $tablet-breakpoint) {
              width: 150px;
            }
          }
        }
        &.content {
          max-width: 600px;
          min-width: 600px;
          margin: 0 auto;
          opacity: 0;
          transform: translate(150px, 20px);
          @media screen and (max-width: $laptop-breakpoint) {
            max-width: 500px;
            min-width: 500px;
            transform: translate(100px, 20px);
          }

          @media screen and (max-width: $tablet-breakpoint) {
            max-width: 450px;
            min-width: 450px;
            transform: translate(70px, 20px);
          }

          @media screen and (max-width: $mobile-breakpoint) {
            max-width: 450px;
            min-width: unset;
            margin: 0;
            width: 100%;
            align-items: flex-start;
            margin-bottom: 2em;
            transform: translate(0, 20px);
          }
        }
      }
    }

    .nav-bar {
      position: absolute;
      z-index: 2;
      bottom: 0;
      width: 100%;
      display: flex;
      height: 100px;
      align-items: center;
      color: #fff;
      font-weight: 400;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      .major {
        width: 75%;
        height: 100%;
        display: flex;
        align-items: center;
        p {
          width: 100%;
          max-width: 750px;
          margin: 0 auto;
          @media screen and (max-width: $laptop-breakpoint) {
            max-width: 550px;
          }
          @media screen and (max-width: $mobile-breakpoint) {
            max-width: 100%;
            padding-left: 20px;
          }
        }
      }
      .minor {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @media screen and (max-width: $mobile-breakpoint) {
          width: 35%;
        }
        .icon {
          max-width: 45px;
          margin-left: 10px;
          @media screen and (max-width: $mobile-breakpoint) {
            max-width: 35px;
          }
        }
      }
    }
  }
}

#calculator {
  margin: 100px 0;

  .container {
    max-width: 1100px;
    flex-direction: column;
    .tracker {
      margin-top: 6em;
      .bar {
        position: relative;
        width: 100%;
        height: 10px;
        border: 1px solid $color-grey;
        border-radius: 0.5rem;
        .bg {
          width: 0;
          position: absolute;
          left: 0;
          height: 100%;
          background: $color-light-teal;
          border-radius: 0.5rem;
        }
        .track {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 80px;
          height: 40px;
          background: $color-navy;
          border-radius: 2em;
          cursor: pointer;
          &:before {
            content: url("/assets/caret-down.svg");
            transform: rotate(90deg);
            display: flex;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 10px;
          }

          &:after {
            content: url("/assets/caret-down.svg");
            transform: rotate(-90deg);
            display: flex;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 10px;
          }

          .num {
            position: absolute;
            top: -110%;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
    .row {
      margin-top: 5em;
      @media screen and (max-width: $mobile-breakpoint) {
        flex-direction: column;
      }
      .col {
        margin-right: 4em;
        @media screen and (max-width: $mobile-breakpoint) {
          margin: 0 0 2em;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
