// @font-face {
//     font-family: "Adieu";
//     src: url("/assets/fonts/Adieu-Regular.eot");
//     src: url("/assets/fonts/Adieu-Regular.woff") format("woff");
//     src: url("/assets/fonts/Adieu-Regular.woff2") format("woff2");
//   }

//   $font-heading: "Adieu", sans-serif;
//   $font-body: "Yantramanav", sans-serif;
//   $font-subtitle: "Ubuntu Mono", monospace;

$color-teal: #02a09e;
$color-light-teal: #dffdfb;
$color-btn: #01b0ae;
$color-navy: #001a3a;
$color-grey: #81858b;
$color-body: #4c5055;

$mobile-breakpoint: 767px;
$tablet-breakpoint: 1024px;
$laptop-breakpoint: 1440px;
