$font-heading: "bilo";
$font-body: "sofia-pro";

$color-teal: #02a09e;
$color-light-teal: #dffdfb;
$color-btn: #01b0ae;
$color-blue-text: #3176bb;
$color-navy: #001a3a;
$color-grey: #81858b;
$color-body: #4c5055;

$mobile-breakpoint: 767px;
$tablet-breakpoint: 1082px;
// $laptop-breakpoint: 1440px;
$laptop-breakpoint: 1280px;

$content-wrap: 1700px;
